<div class="n" ng-repeat="post in posts | orderBy:'-upvotes' track by $index">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"> </span>
    <!-- <span class="glyphicon glyphicon-thumbs-down" style="color:red;" ng-click="downvote(post)" > </span>  -->
    {{post.upvotes}}
    <span class="post-text">
      {{post.text}}
    </span> - <span style="color:black; font-size:20px;"> by </span> <span style="color:black; font-size:20px;">  {{post.author}} </span>
    <a ui-sref="comment({id: post._id})"><span style="color:black; decoration:none; font-size:20px;"> comments </span></a>
    <button ng-click="removePost()">Delete Post</button>
</div>
<form ng-submit="addPost()">
  <div class="u">
    <h4>New Post</h4>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="text"></input>
    </div>
    <div class="wrap">
    <a> <button class="btn-2">POST</button></a>
    </div>
  </div>
</form>
