.comment-body,
.post-text {
    font-size: 30px;
    margin-left: 30px;
    font-family: 'Indie Flower', cursive;
    color:white;
}

.glyphicon-thumbs-down,
.glyphicon-thumbs-up {
    cursor: pointer;
}

body{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(marshmello-mask-dj-white-mask-american-dj.jpg);
}

.navbar-default{
  background-color: black;


}

.navbar-default .navbar-brand{
  color:white;
  font-size: 20px;
  font-family: verdana;
}

.navbar-default .navbar-text{
  color:white;
  font-size: 20px;
  font-family: verdana;
}

.navbar-default .navbar-nav > li > a {
    color:white;
    font-size: 20px;
    font-family: verdana;
  }

h1{
  font-size: 100px;
  font-family: 'Russo One', sans-serif;
  padding-bottom: 20px;
  margin: 9px;
  color:black;
  /*background: -webkit-linear-gradient(left, blue, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
}
}

a{
  color: black;
  font-size: 15px;
  font-weight: 100;
}

*{
  font-family: verdana;
  font-size: 20px;
  /*border: 1px solid black;*/
}

.n{
  border-width: 3px;
  border-style: solid;
  border-color: black;
  margin: 30px;
  font-size: 18px;


}

.glyphicon{
  font-size: 33px;
}

button{
  font-size: 13px;
  font-family: 'Russo One', sans-serif;
}

h4{
  font-size: 35px;
  color:black;
  font-family: 'Russo One', sans-serif;

}

.u{
  margin:30px;
}

.glyphicon-thumbs-up:before {
    content: "\e125";
    color: blue;
}
